<div class="container py-4">


  <h1>Sign-Up</h1>

  {{#if errors.length}}
  <ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{else}}
    {{#if success}}
      <h4 class="successColor">{{success}}</h4>
    {{/if}}
  {{/if}}


  <form method="POST">

    <div class="form-group">
      <label for="signupInputFirstName">First name</label>
      <input type="text" class="form-control" id="signupInputFirstName" name="firstName" value="{{account.firstName}}">
    </div>

    <div class="form-group">
      <label for="signupInputLastName">Last Name</label>
      <input type="text" class="form-control" id="signupInputLastName" name="lastName" value="{{account.lastName}}">
    </div>

    <div class="form-group">
      <label for="signupInputEmail">Email address</label>
      <input type="email" class="form-control" id="signupInputEmail" name="email" aria-describedby="emailHelp" value="{{account.email}}">
      <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="signupInputPassword">Password</label>
      <input type="password" class="form-control" id="signupInputPassword" name="password" value="{{account.password}}">
    </div>

    <div class="form-group">
      <label for="signupInputAge">Age</label>
      <input type="text" class="form-control" id="signupInputAge" name="age" value="{{account.age}}">
    </div>

    <div class="form-group">
      <label for="signupInputCity">City</label>
      <input type="text" class="form-control" id="signupInputCity" name="city" value="{{account.city}}">
    </div>

  <div class="form-group">
      <label for="signupInputGender">Gender</label>
      <select class="form-control" id="signupInputGender" name="gender" value="{{account.gender}}">
        <option >Female</option>
        <option >Male</option>
      </select>
    </div>


    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>