<div class="container py-4">

    <h1>Profile</h1>

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{else}}


    <div class="row">

        <div class="col-sm">
            <p>{{account.firstName}}</p>
            <p>{{account.lastName}}</p>
            <p>{{account.email}}</p>
            <p>{{account.age}}</p>
            <p>{{account.gender}}</p>
            <p>{{account.city}}</p>

        </div>

        <div class="col-sm">

            <p>Medlem i grupper</p>
            <p>Meddelande skickade</p>
            <p>favorit sport</p>

        </div>

    </div>

    <form action="/accounts/editId" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn btn-primary" type="submit">edit profile</button>
    </form>

    <form action="/accounts/delete" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn btn-primary" type="submit">delete profile</button>
    </form>


    {{!-- <a class="btn btn-primary" href="/accounts/delete">delete profile</a> --}}


    {{/if}}
</div>