<div class="container py-4">


  <h1>Sign-Up</h1>

  {{#if success}}
    <h4 class="successColor">{{success}}</h4>
  {{/if}}


  <form method="POST">

    <div class="form-group">
      <label for="exampleInputPassword1">First name</label>
      <input type="text" class="form-control" name="firstName" value="{{account.firstName}}">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Last Name</label>
      <input type="text" class="form-control" name="lastName" value="{{account.lastName}}">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" aria-describedby="emailHelp" value="{{account.email}}">
      <small name="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" value="{{account.password}}">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input type="text" class="form-control" name="age" value="{{account.age}}">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">City</label>
      <input type="text" class="form-control" name="city" value="{{account.city}}">
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">gender</label>
      <input type="text" class="form-control" name="gender" value="{{account.gender}}">
    </div>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>