<div class="container py-4">

  <h1>Edit profile</h1>

  {{#if errors.length}}
  <div class="errorHandler">
    <ul>
      {{#each errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  <form method="POST" action="/accounts/edit">

    <div class="form-group">
      <label for="editInputFirstName">First name</label>
      <input class="form-control" id="editInputFirstName" name="firstName" value="{{account.firstName}}">
    </div>

    <div class="form-group">
      <label for="editInputLastName">Last Name</label>
      <input class="form-control" id="editInputLastName" name="lastName" value="{{account.lastName}}">
    </div>

    <div class="form-group">
      <label for="editInputEmail">Email address</label>
      <input type="email" id="editInputFirstEmail" class="form-control" name="email" aria-describedby="emailHelp"
        value="{{account.email}}">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="editInputAge">Age</label>
      <input class="form-control" id="editInputAge" name="age" value="{{account.age}}">
    </div>

    <div class="form-group">
      <label for="editInputCity">City</label>
      <input class="form-control" id="editInputCity" name="city" value="{{account.city}}">
    </div>

    <div class="form-group">
      <label for="editInputGender">Gender</label>
      <select class="form-control" id="editInputGender" name="gender" value="{{account.gender}}">
        <option >Female</option>
        <option >Male</option>
      </select>
    </div>


    <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button type="submit" class="btn btn-primary">Confirm Edit</button>
  </form>

</div>