<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="group-specific.css">
    <title>Manage members</title>
</head>

<h1 class="centerText">Manage your group members</h1>

{{#if databaseErrors}}
    <p class="errorColor">{{databaseErrors}}</p>
{{/if}}
{{#if error.length}}
    {{#each error}}
        <p class="errorColor">{{this}}</p>
    {{/each}}
{{/if}}
{{#if success}}
    <p class="green">{{success}}</p>
{{/if}}
<div class="row">
    {{#each members}}
        <div class="col-sm">
            <p>Name: {{this.firstName}} {{this.lastName}}</p>
            <p>City: {{this.city}}</p>
            <p>Age: {{this.age}}</p>
            <form method="post">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                {{#if (isAuthor this.accountId ../authorId)}} {{!-- This only works when there is one left? --}}
                    <button class="btn btn-primary" type="submit" value="{{this.accountId}}" disabled>Kick Member</button>
                {{else}}
                    <button class="btn btn-primary" type="submit" name="accountId" value="{{this.accountId}}">Kick Member</button>
                {{/if}}
            </form>
        </div>
    {{/each}}
</div>

</html>