<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{Group.name}}</title>
    <link rel="stylesheet" href="/group-specific.css">
</head>

<div class="container py-4">
    <div>
        {{#if error}}
            <p class="errorColor">{{error}}</p>
        {{/if}}
        {{#if printUpdatedText}}
            <p class="green">{{printUpdatedText}}</p>
        {{/if}}
        <h1>Group Name: {{group.name}}</h1>
        <div class="row">
            <div class="col-sm">
                <p>Sport: {{group.sport}}</p>
                <p>City: {{group.city}}</p>
                <p>Members: {{group.nrOfMembers}} / {{group.memberSlots}}</p>
                <small>Group Created: {{group.publishingDate}}</small>
            </div>
            <div class="col-sm">
                <p>Allowed Gender: {{group.allowedGender}}</p>
                <p>Age Restriction: {{group.minAge}} - {{group.maxAge}}</p>
                <p>Skill Level: {{group.skillLevel}}</p>
            </div>
        </div>

        {{#if isAuthor}}
        <form method="post" action="/groups/{{group.groupId}}/redirectToEdit">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">edit group</button>
        </form>
        <form method="post" action="/groups/{{group.groupId}}/redirectToManageMembers">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">Manage Group members</button>
        </form>
        <form method="POST" action="/groups/delete/{{group.groupId}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">delete group</button>
        </form>
        {{/if}}
    </div>

    {{#if editMessage}}
     <div>
        <form method="POST" action="/messages/update/{{editMessage.messageId}}">
            <div class="form-row">
                <div class="col-6 my-1">
                    <textarea class="form-control" id="textarea" rows="1" name="text"
                        placeholder="Required example textarea">{{editMessage.text}}</textarea>
                </div>
                <div class="col-2 my-1">
                    <input type="hidden" name="groupId" value='{{group.groupId}}'>
                    <input type="hidden" name="_csrf" value='{{csrfToken}}'>
                    <button type="submit" class="btn btn-primary">send message</button>
                </div>
            </div>
        </form>
    </div>

    {{else}}
     <div>
        <form method="POST" action="/messages/create">
            <div class="form-row">
                <div class="col-6 my-1">
                    <textarea class="form-control" id="textarea" rows="1" name="text"
                        placeholder="Required example textarea"></textarea>
                </div>
                <div class="col-2 my-1">
                    <input type="hidden" name="groupId" value='{{group.groupId}}'>
                    <input type="hidden" name="_csrf" value='{{csrfToken}}'>
                    <button type="submit" class="btn btn-primary">send message</button>
                </div>
            </div>
        </form>
    </div>

    {{/if}}

   

    <div>
        {{#each messages}}
        <div class="message-text">
            <h4>{{this.authorName}}</h4>
            <p>{{this.text}}</p>
            {{#if this.isAuthor}}
            <form method="POST" action="/messages/delete/{{this.messageId}}">
                <input type="hidden" name="groupId" value='{{../group.groupId}}'>
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <button class="btn btn-primary" type="submit">delete</button>
            </form>
            <form method="POST" action="/messages/editMessage/{{this.messageId}}">
                <input type="hidden" name="groupId" value='{{../group.groupId}}'>
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <button class="btn btn-primary" type="submit">edit</button>
            </form>
            {{/if}}
        </div>
        {{/each}}
    </div>

</div>