<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="group-specific.css">
    <title>Manage members</title>
</head>

<h1 class="centerText">Manage your group members</h1>

{{#if success}}
    <p class="green">{{success}}</p>
{{/if}}
<div class="row">
    {{#each members}}
        <div class="col-sm">
            <p>Name: {{this.FirstName}} {{this.LastName}}</p>
            <p>City: {{this.City}}</p>
            <p>Age: {{this.Age}}</p>
            <form method="post">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                {{#if ../author}} {{!-- This only works when there is one left? --}}
                    <button class="btn btn-primary" type="submit" value="{{this.AccountId}}" disabled>Kick Member</button>
                {{else}}
                    <button class="btn btn-primary" type="submit" name="accountId" value="{{this.AccountId}}">Kick Member</button>
                {{/if}}
            </form>
        </div>
    {{/each}}
</div>

</html>