<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GroupNameHere</title>
    <link rel="stylesheet" href="/group-specific.css">
</head>

<div class="container py-4">
    <div>
        <h1>Group Name: {{group.Name}}</h1>
        <div class="row">
            <div class="col-sm">
                <p>Sport: {{group.Sport}}</p>
                <p>City: {{group.City}}</p>
                <p>Members: {{group.NrOfMembers}} / {{group.MemberSlots}}</p>
                <small>Group Created: {{group.PublishingDate}}</small>
            </div>
            <div class="col-sm">
                <p>Allowed Gender: {{group.AllowedGender}}</p>
                <p>Age Restriction: {{group.MinAge}} - {{group.MaxAge}}</p>
                <p>Skill Level: {{group.SkillLevel}}</p>
            </div>
        </div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button class="btn btn-primary" type="submit">edit group (/groups/id/edit)</button>
        </form>
    </div>

    <div>
        <form method="POST" action="/messages/create">
            <div class="form-row">
                <div class="col-6 my-1">
                    <textarea class="form-control" id="textarea" rows="1" name="text"
                        placeholder="Required example textarea"></textarea>
                </div>
                <div class="col-2 my-1">
                    <input type="hidden" name="groupId" value='{{group.GroupId}}'>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button type="submit" class="btn btn-primary">send message</button>
                </div>
            </div>
        </form>
    </div>

    <div>
        {{#each messages}}
            <div class="message-text">
                <h4>{{this.AuthorName}}</h4>
                <p>{{this.Text}}</p>
                {{#if this.isAuthor}}
                    <form method="POST" action="/messages/delete/{{this.MessageId}}">
                        <input type="hidden" name="groupId" value='{{../group.GroupId}}'>
                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                        <button class="btn btn-primary" type="submit">delete</button>                    
                    </form>
                {{/if}}
            </div>
        {{/each}}
    </div>

</div>