<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/group-active.css">
    <title>Active Groups</title>
</head>

<body>
    <div class="container">
        <h1 class="title mb-5">Your active groups</h1>
        <div class="table-responsive col-md">
            <table class="table table-dark table-striped table-hover table-responsive-xl">
                <tbody>
                    {{#each activeGroups}}
                    <tr class="tableGroup">
                        <td><img src="/{{this.Image}}.png" class="rounded img-size img-fluid" alt={{this.Image}}></td>
                        <td>{{this.Name}}</td>
                        <td>{{this.Sport}}</td>
                        <td>City: {{this.City}}</td>
                        <td>Gender: {{this.AllowedGender}}</td>
                        <td>{{this.NrOfMembers}}/{{this.MemberSlots}} Members</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <button class="btn btn-link btn-primary" name="groupId" value="{{this.GroupId}}">View
                                    Group</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>